@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* New custom button class */
  .custom-button {
    background-color: #3490dc; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding around the button */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center the text */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
  }

  .custom-button:hover {
    background-color: #2779bd; /* Darker blue on hover */
  }
}
/* Add this to your global styles or component styles */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}